/* .cntrtag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;
    font-size: x-large;
    color: rgb(245, 34, 34);
} */
/* #btns{
    background-image: url('./assets/download.webp');
} */

   #background {
          position: fixed;
          top: 0; left: 0;
          width: 100vw;
          height: 100vh;
          background-image: url('./assets/download.webp'); /* replace with your image URL */
          background-size: cover;
          background-position: center;
          filter: blur(8px);
          z-index: -1; /* put behind other content */
        
        }

        #content{
            background-color: rgba(143, 145, 143, 0.221);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-top: 150px;
            font-size: xx-large;
            border-radius: 30px;
            box-shadow: 3px 4px 1px 3px ;
            width: 300px;
            margin-left: 40%;
            border: solid;
        }  
 